@import '../../../variables';

.add-entry {
  .nav-item{
    font-size: 1rem;
    .active{
      font-weight: bold;
      border-bottom: solid 2px $primary;
    }
  }
}

.breadcrumb-item.active {
  font-weight: bold;
  text-decoration: underline;
}

.pdf-height {
  max-width: $lh-modal-width;
  width: $lh-modal-width;
  margin: auto;
  transition-property: all;
  transition-duration: 0.7s;
}

.reader-helper {
  position: fixed;
  top: 50px;
  right: calc((90% - #{$lh-modal-width})/2);
}