@import '../../../variables';

.add-entry {
  .nav-item{
    font-size: 1rem;
    .active{
      font-weight: bold;
      border-bottom: solid 2px $primary;
    }
  }
}

.breadcrumb-item.active {
  font-weight: bold;
  text-decoration: underline;
}

#righthand {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  background-color: #f8f8f8;
  min-width: 500px;
  max-width: 500px;
  width: 500px;
  min-height: 100vh;
  border-left: #e7e7e7 solid 1px;
  // position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  
  &.collapsed {
    overflow-x: hidden;
    min-width: 0px;
    max-width: 0px;
    width: 500px;
    // margin-right:-500px;
    opacity: 0;
    padding: 0 !important;
    // width: 0;
  }
}

#righthand-level{
  position: sticky;
  top: 60px;
  right: 0;
  width: 400px;
}

.pdf-height {
  max-width: 1080px;
  margin: auto;
  transition-property: all;
  transition-duration: 0.7s;
}

.reader-helper {
  position: absolute;
  top: 20px;
  right: -45px;
}