
  $search-bg : #F5F5F5;
  // $search-bg : #DFDFDF; //hover
  // border-bottom: solid 2px red;

  .navbar-brand{
    font-weight: bold;
    font-size: 25px;
  }

  #alx-nav-search{
    // border: solid 1px black;
    // border-left: none;
    font-size: 13px;
    background: $search-bg;
  }
  
  .input-group-text{
    // border: solid 1px black;
    // border-right: none;
    background: $search-bg;
  }

