@import '../../variables';

#sidebar {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  background-color: $canvas-gray;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  border-right: #e7e7e7 solid 1px;

  .institution-name{
    border-bottom: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    background-color: #fcfcfc;
  }
  
  &.active {
    margin-left: -250px;
  }
  
  .projet-holder {
    border: solid 1px #e7e7e7;
  }
  
  .list-group {
    
    text-align: left;
    border-right: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
    background-color: $canvas-gray;
    border-radius: 0px;


    .list-group-item {

      .sidebar-icon {
        width: 55px;
        text-align: center;
      }

      height: 60px;
      line-height: 40px;
      background-color: inherit;
      font-size: 14px;
      border-radius: 0px;
      
      &.active {
        color:black;
        border-left: 6px solid $primary;
      }

      &:hover {
        border-radius: 0px;
        background-color: rgba($secondary, $alpha: 0.3);
        color: #000000;
      }
    }
  }

}
