//Need to do this the clean way by rewriting variables in the .less files of antd Tree
.lh-tree  {
  $folder-border: #cecece;
  $file-node-background: #ffffff;

  .folder-button {
    padding-left: 10px;
    button {
      box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
      border-radius: 50%;
    }
  }

  .dropdown-toggle {
    margin-right: 10px;
  }
  .dropdown-toggle::after {
    display: none;
  }

  .ant-tree-treenode:hover {

    .folder-button:not(:hover) {
      button {
        box-shadow: -5px -5px 9px rgba(255,255,255,0.60), 5px 5px 9px rgba(94,104,121,0.45);
        background-color: #cbe4d1 !important;
      }
    }

    .ant-tree-node-content-wrapper, .ant-tree-switcher{
      background-color: #cbe4d1 !important;
    }
    
    .folder {
      .ant-tree-node-content-wrapper, .ant-tree-switcher{
        background-color: #cbe4d1 !important;
      }
    }
  }
  
  .ant-tree-node-content-wrapper{
    background-color: $file-node-background !important;
    min-height: 42px !important;
    line-height: 42px !important;
    padding: 0px 20px 0px 0px !important;
    border-radius: 0px 6px 6px 0px !important;
    box-shadow: 10px 5px 15px rgba(0,	0, 0, 0.30	);
    box-shadow: 0px 1px 2px 0px rgba(0,	0, 0, 0.30	)
            1px 2px 4px 0px rgba(0,	0, 0, 0.30	)
            2px 4px 8px 0px rgba(0,	0, 0, 0.30	)
            2px 4px 16px 0px rgba(0,	0, 0, 0.30	);
  }

  .folder .ant-tree-node-content-wrapper{
    background-color: #ececec !important;
    font-weight: bold !important;
  }

  .ant-tree-switcher {
    background-color: $file-node-background !important;
    min-height: 42px !important;
    line-height: 37px !important;
    padding: 0px 20px !important;
    border-radius: 6px 0px 0px 6px;
    box-shadow: 10px 5px 15px rgba(206,	206, 206, 0.25	);
  }
  .folder .ant-tree-switcher{
    background-color: #ececec !important;
  }

  .ant-tree-draggable-icon {
    display: none;
  }

  .ant-tree-indent-unit {
    width: 45px !important;
  }

  .ant-tree-indent-unit::before {
    border-right: 1px solid red;
    opacity: 0;
}

  .ant-tree-treenode-leaf-first {
    margin-bottom: 20px !important;
  }

}