$primary: #48674F;
$search-bg : #E8F0FE;
$secondary: #ffd1a3;
$deep-gray: #c0c0c0;
$deep2-gray: #a8a8a8;
$canvas-gray: #f8f8f8;
$primary-tone: #E8E9EB;
$secondary-tone: #F8F8F8;

body {
  font-family: 'Montserrat';
  font-weight: 700;
}
// $secondary: #FFA500;
$theme-colors: (
  "primary": $primary,
  "deep-gray": $deep-gray,
  "deep2-gray": $deep2-gray,
  "canvas-gray": $canvas-gray,
  "primary-tone": $primary-tone,
  "secondary": $secondary,
  "info": tomato,
  "white": white,
  "danger": rgb(209, 44, 44)
);

$spacer: 1.3rem;
$border-width: 0;

$border-radius: 10px;
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 2rem;
// $input-padding-y: 2rem;
// $input-bg: gray;
$navbar-light-color: #FFF !important;

$navbar-brand-font-size: 2rem;
$list-group-hover-bg: $deep-gray;
$list-group-active-bg: $secondary;
$input-group-addon-bg: #FFFFFF;

$offcanvas-padding-y: 2rem;
$offcanvas-padding-x: 3rem;
$offcanvas-bg-color: $canvas-gray;
$offcanvas-vertical-height: 30vh;

$form-label-margin-bottom:              .5rem;
$form-label-font-size:                  0.8rem;
$form-label-font-weight:                bold;
// $form-label-font-style:                 null;
// $form-label-color:                      null;

.breadcrumb a{
  color: $primary;
}
$breadcrumb-divider-color:          $primary;
$breadcrumb-active-color:           $primary;
$breadcrumb-font-size:           0.8rem;

//Badges
$badge-border-radius:               3px;

//Dropdown 
$input-group-dropdown-box-shadow:               10px 5px 15px rgba(80, 80, 80, 0.25);


// $modal-title-line-height:           50px;
// $offcanvas-padding-y:               $modal-inner-padding;
// $offcanvas-padding-x:               $modal-inner-padding;
$offcanvas-horizontal-width:        600px;
// $offcanvas-vertical-height:         30vh;
// $offcanvas-transition-duration:     .3s;
$offcanvas-border-color:            $deep-gray;
$offcanvas-border-width:            1px;
// $offcanvas-title-line-height:       $modal-title-line-height;
// $offcanvas-bg-color:                $modal-content-bg;
// $offcanvas-color:                   $modal-content-color;
// $offcanvas-box-shadow:              $modal-content-box-shadow-xs;