@import './variables';

.bg-light.alx {
  background-color:  #FFF !important;
  border-bottom: 1px solid $deep-gray;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 100;
}



////////////////////////////// https://bootstrap.build/app

@import "~bootstrap/scss/bootstrap";

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.lh-group {
  :focus-within {
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(89, 139, 101, .4);
  }
  .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.round {
  border-radius: 20px;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: inherit !important;
}
.pdf-modal {
  min-width: 1080px;
}

.spinning {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}